/*
  Flaticon icon font: Flaticon
  Creation date: 23/09/2020 12:02
  */

@font-face {
	font-family: "Flaticon";
	src: url("./Flaticon.eot");
	src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
	url("./Flaticon.woff2") format("woff2"),
	url("./Flaticon.woff") format("woff"),
	url("./Flaticon.ttf") format("truetype"),
	url("./Flaticon.svg#Flaticon") format("svg");
	font-weight: normal;
	font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
	@font-face {
		font-family: "Flaticon";
		src: url("./Flaticon.svg#Flaticon") format("svg");
	}
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
	font-family: Flaticon;
	font-size: inherit;
	font-style: normal;
}

.flaticon-marker:before { content: "\f100"; }
.flaticon-close:before { content: "\f101"; }
.flaticon-arrow:before { content: "\f102"; }
.flaticon-heart:before { content: "\f103"; }
.flaticon-tick:before { content: "\f104"; }
.flaticon-heart-1:before { content: "\f105"; }
.flaticon-cart:before { content: "\f106"; }
.flaticon-link:before { content: "\f107"; }
.flaticon-socket:before { content: "\f108"; }
.flaticon-back:before { content: "\f109"; }
.flaticon-null:before { content: "\f10a"; }
.flaticon-null-1:before { content: "\f10b"; }
.flaticon-map:before { content: "\f10c"; }
.flaticon-quote:before { content: "\f10d"; }
.flaticon-null-2:before { content: "\f10e"; }
.flaticon-null-3:before { content: "\f10f"; }
.flaticon-play:before { content: "\f110"; }
.flaticon-null-4:before { content: "\f111"; }
.flaticon-clock:before { content: "\f112"; }
.flaticon-gift-card:before { content: "\f113"; }
.flaticon-euro:before { content: "\f114"; }
.flaticon-tick-1:before { content: "\f115"; }
.flaticon-smartphone:before { content: "\f116"; }
.flaticon-chat:before { content: "\f117"; }
.flaticon-share:before { content: "\f118"; }
.flaticon-ebook:before { content: "\f119"; }
.flaticon-group:before { content: "\f11a"; }
.flaticon-sms:before { content: "\f11b"; }
.flaticon-null-5:before { content: "\f11c"; }
.flaticon-null-6:before { content: "\f11d"; }
.flaticon-null-7:before { content: "\f11e"; }
.flaticon-star:before { content: "\f11f"; }
.flaticon-view:before { content: "\f120"; }