.please-wait {
    display: none;
}
.wpmlm-registration-form{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    padding: 30px;
}
.wpmlm-registration-form .h2, .wpmlm-registration-form h2 {
    font-size: 30px;
}
.wpmlm-registration-form .text-muted {
    color: #777;
}
.wpmlm-registration-form .small, .wpmlm-registration-form small {
    font-size: 85%;
}
.wpmlm-registration-form .h4, .wpmlm-registration-form h4 {
    font-size: 18px;
}
.wpmlm-registration-form  .form-group {
    margin-bottom: 15px;
}
.wpmlm-registration-form  label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
.wpmlm-registration-form  input, .wpmlm-registration-form  textarea {
    -webkit-backface-visibility: hidden;
    background: #fff;
    border: solid 1px #ccc;
    box-sizing: border-box;
    outline: none;
    padding: 0.36rem 0.66rem;
    
    outline-offset: 0;
    border-radius: 0;
}
.wpmlm-registration-form .form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.wpmlm-registration-form button, .wpmlm-registration-form input, .wpmlm-registration-form select, .wpmlm-registration-form textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.wpmlm-registration-form .row {
    margin-right: -15px;
    margin-left: -15px;
}
@media (min-width: 992px){
	.width-col-4 {
	    width: 33.33333333%;
	    float: left;
	}
	.width-col-12 {
	    width: 100%;
	    float: left;
	}
	.width-col-6 {
	    width: 50%;
	    float: left;
	}
}
.wpmlm-registration-form .h1, .wpmlm-registration-form .h2, .wpmlm-registration-form .h3, .wpmlm-registration-form .h4, .wpmlm-registration-form .h5, .wpmlm-registration-form .h6, .wpmlm-registration-form h1, .wpmlm-registration-form h2,.wpmlm-registration-form  h3, .wpmlm-registration-form h4, .wpmlm-registration-form h5, .wpmlm-registration-form h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
.wpmlm-registration-form .width-col-4, .wpmlm-registration-form .width-col-6 , .wpmlm-registration-form .width-col-12{
	position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.wpmlm-registration-form input[type=checkbox], .wpmlm-registration-form input[type=radio] {
    margin: 4px 0 0;
    margin-top: 1px\9;
    line-height: normal;
    appearance: radio;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}
.wpmlm-registration-form .btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.wpmlm-registration-form .btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.wpmlm-registration-form .input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}
.wpmlm-registration-form  .input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
}
.wpmlm-registration-form .input-group .form-control, .wpmlm-registration-form .input-group-addon, .wpmlm-registration-form .input-group-btn {
    display: table-cell;
}
.wpmlm-registration-form .input-group .form-control:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.wpmlm-registration-form .input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.wpmlm-registration-form .input-group-addon:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
}
.wpmlm-registration-form .input-group-addon, .wpmlm-registration-form .input-group-btn {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
}
.wpmlm-registration-form .glyphicon {
    position: relative;
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.wpmlm-registration-form  .glyphicon-calendar:before {
    content: '\25A9';
}
.err_msg_sponsor, .err_msg_username, .err_msg_email{
    color: red;
    position: absolute;
    font-size: 12px;
}
#wpmlm-registration-form label.error {
    color: red;
}
#wpmlm-registration-form .form-group label.error {
    font-size: 13px;
    color: red;
    position: absolute;
    font-size: 12px;
    font-weight: 100;
    font-family: inherit;
}
/*label#date_of_birth-error {
    top: 35px;
    left: 0px;
}*/
.wpmlm-registration-form .response_message {
    margin-top: 30px;
}
.wpmlm-registration-form .alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}
.wpmlm-registration-form .alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.wpmlm-registration-form .alert-success {
    color: #1d4201;
    background-color: #b6d499;
    border-color: #b6d499;
}
.paypal-radio{
    display: flex;
    align-items: end;
}
.paypal-radio img{
    max-width: unset;
    width: 100px;
    margin-left: 5px;
    margin-bottom: -15px;
}
input#user_registration_type{
    width: 20px;
    height: 20px;
    border-radius: 15px;
    top: 5px;
    left: -5px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
    -moz-appearance: radio;
    -webkit-appearance: radio;
    z-index: 3;
}

